<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo risus id suscipit posuere. Aliquam suscipit pellentesque turpis, lacinia volutpat metus tincidunt ac. Cras ut dolor eget quam pharetra fermentum in quis urna. Vestibulum tincidunt tincidunt massa. Nunc vulputate sapien sed vehicula dictum. Donec id pretium dolor. Mauris ut varius quam. Vestibulum a sapien urna.</p>

<%- include("footer") -%>
